:root {
  --ifm-color-primary: #1a73e8;
  --ifm-color-primary-dark: #1567d3;
  --ifm-color-primary-darker: #1461c7;
  --ifm-color-primary-darkest: #1050a4;
  --ifm-color-primary-light: #2f80ed;
  --ifm-color-primary-lighter: #3b87ef;
  --ifm-color-primary-lightest: #5e9df2;
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary: #5e9df2;
  --ifm-color-primary-dark: #3b87ef;
  --ifm-color-primary-darker: #2f80ed;
  --ifm-color-primary-darkest: #1a6de0;
  --ifm-color-primary-light: #81b3f5;
  --ifm-color-primary-lighter: #8dbaf6;
  --ifm-color-primary-lightest: #b0cef9;
}
